header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1111;
    padding: 15px 0;
    .container {
        position: relative;
        .logo {
            a {
                span {
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: $title-c;
                    &.green {
                        color: $main-c;
                    }
                }
            }
        }
        nav {
            @media (min-width: 922px) {
                display: block !important;
                ul {
                    li {
                        .line {
                            position: absolute;
                            top: calc(100% + 10px);
                            width: 0;
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            transition: .3s;
                            span {
                                display: block;
                                height: 3px;
                                background-color: $white;
                                border-radius: 30px;
                                &.part-1 {
                                    width: calc(64% - 8px);
                                }
                                &.part-2 {
                                    width: 22%;
                                }
                                &.part-3 {
                                    width: 14%;
                                }
                            }
                        }
                        &:hover {
                            .line {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            @media (max-width: 921px) {
                position: absolute;
                top: calc(100% + 16px);
                left: 0;
                right: 0;
                ul {
                    flex-direction: column;
                    background-color: $white;
                    padding: 30px 20px;
                    li {
                        a {
                            color: $title-c !important;
                            &:hover {
                                color: $main-c !important;
                            }
                        }
                    }
                }
            }
            display: none;
            ul{
                display: flex;
                gap: 20px;
                li {
                    display: block;
                    position: relative;
                    width: fit-content;
                    a {
                        font-size: 16px;
                        font-weight: 500;
                        color: $main-bg;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .toggle-nav {
            @media (min-width: 922px) {
                display: none !important;
            }
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;
            span {
                display: block;
                width: 30px;
                height: 2px;
                background-color: $title-c;
                position: absolute;
                transition: .3s;
                left: 0;
                &.bar-1 {
                    top: 5px;
                }
                &.bar-2 {
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.bar-3 {
                    bottom: 5px;
                }
            }
            &.clicked {
                span {
                    &.bar-2 {
                        opacity: 0;
                    }
                    &.bar-1 {
                        top: calc(50% - 1px);
                        transform: rotate(45deg);
                    }
                    &.bar-3 {
                        bottom: calc(50% - 1px);
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    &.white-bg {
        background-color: $white;
        box-shadow: 0 1px 2px #ccc;
        .container {
            nav {
                @media (min-width: 922px) {
                    ul {
                        li {
                            a {
                                color: $title-c;
                                &:hover {
                                    color: $main-c;
                                }
                            }
                            .line {
                                span {
                                    background-color: $main-c;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}