$main-c: #00A78E;
$l-green: rgba(0,167,142,.7);
$main-bg: #F9F9F9;
$title-c: #293651;
$grey-c: #A2A8B6;//social-c
$default-c: #646f87; // home-p, default-c
$white: #fff;
$skill-bg: #EEEFF2;
$yellow: #ffae34;
$footer-bg: #F8F8F8;
$social-bg: #EAEBED;

//
$family: "Open Sans",sans-serif;
